body {
  background-color: #242f44;
  color: white;
    font-family: 'Oswald', sans-serif;
} black;}

table {
  text-align: center;
  margin: 20px auto;
}

table, th, td {border: 1px solid #8c6b48; text-align: center;}

.spectacular {color: gold;}

.thicker {
width: 375px;
height: 100px;
}

.padding {

padding: 16px;

}

a {
color: yellow
}

a:link {color:Red}

.activity_link {text-decoration: none;
color: yellow
}