@import url('https://fonts.googleapis.com/css?family=Caveat');

body {
    background: url("../images/background.jpeg") rgb(40, 18, 5);
    background-size: cover;
    font-family: 'Pangolin', cursive;
    font-size: 28px;
    text-shadow: 0 0 50px #000;
}

.thicker {
    width: 375px;
    height: 100px;
}

.padding {
    padding: 16px;
}

.activity_link {
    text-decoration: none;
    color: white
}

/* Dropdown Button */
.dropbtn {
    background-color: #4CAF50;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    max-width: 500px;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    z-index: 1;
    max-height: 300px;
    overflow: auto;
}

/* Links inside the dropdown */
.dropdown-content p {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:xhover {
    background-color: #ddd;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
    background-color: #3e8e41;
}

* {
    margin: 0;
    padding: 0;
}

body {
    padding: 0 20px;
    color: rgb(255, 212, 169)
}

a {
    color: #fff;
}

.header {
    height: 60px;
    display: flex;
    align-items: center;
}

.menu {
    margin-left: auto;
}

.menu__item {
    text-decoration: none;
    margin: 0 8px;
    transition: all 0.3s ease;
}

.menu__item:hover {
    color: rgb(255, 212, 169);
}

.home__container {
    height: calc(100vh - 60px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.home__content {
    display: flex;
    justify-content: center;
}

.home__title {
    text-align: center;
    margin-bottom: 40px;
    font-size: 78px;
}

.home__btn {
    margin: 0 12px;
}

.btn {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 10px 25px;
    color: #fff;
    background: rgba(204, 119, 34, 0.5);
    text-decoration: none;
    transition: all 0.3s ease;
    letter-spacing: 1px;
    font-size: 28px;
    border-radius: 4px;
}

.btn:hover {
    background: rgba(204, 119, 34, 0.8);
}

.table {
    border-collapse: collapse;
    margin-bottom: 20px;
}

.table td {
    border: 1px solid;
    padding: 10px 15px;
}

.table a {
    text-decoration: none;
    border-bottom: 1px solid;
    color: #fff;
    transition: all 0.3s ease;
}

.table a:hover {
    color: rgb(255, 212, 169);
}

.back__btn {
    position: relative;
    text-transform: none;
    width: 100px;
    height: 50px;
}

.back__btn img {
    width: 70px;
    transform: rotate(60deg);
    transition: all 0.3s ease;
}

.back__btn img:hover {
    opacity: 0.7;
}

.activity__content {
    position: relative;
    z-index: 1;
}

.title {
    margin: 20px 0;
}

input {
    border: none;
    font-family: 'Caveat', cursive;
    background: url("../images/input-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    padding-right: 6px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
}

input:focus, textarea:focus {
    outline: none;
}

textarea {
    border: none;
    font-family: 'Caveat', cursive;
    background: url("../images/input-bg.png");
    background-repeat: no-repeat;
    background-size: 100% 100%;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.2);
    text-align: left;
}

.new-day__content {
    margin-bottom: 20px;
}

.login_input {
    height: 25px;
}
.login_input input {
    font-family: Pangolin;
height: 25px!important;
    border-radius: 4px;
    display: flex;
    font-size: 15px;
    padding: 0 10px;
}

.new-day__content input {
    width: 40px;
    font-size: 32px;
    border-radius: 4px;
    text-align: center;
}
.new-activity__summary textarea {
    width: 350px;
    height: 400px;
    font-size: 32px;
    border-radius: 4px;
    text-align: center;
}
.new-day__content textarea {
    height: 160px;
    width: 300px;
    font-size: 32px;
    border-radius: 4px;
    padding: 5px 10px;
    resize: none;
}

.new-activity__name textarea {
    height: 30px;
    width: 300px;
    font-size: 20px;
    border-radius: 4px;
    padding: 5px 10px;
    resize: none;
}

.new-day__line {
    margin-bottom: 10px;
}

.new-day__line:last-child {

}

.new-day__line label {
    width: 85px;
    display: inline-block;
}

.table_content {
    font-size: 30px;
    text-decoration: none !important;
    color: aliceblue;
}

.table_content a {
    text-decoration: none !important;
    border-bottom: none;
}

.table_smaller_content {
    font-size: 25px;
    text-decoration: none !important;
    color: aliceblue;
    /*border-radius: 5px;*/
    /*background-color: rgba(204, 119, 34, 0.8)*/
}

.table_smaller_content a {
    border-bottom: none;
}

a:link {
    text-decoration: none;
}

.completion_mark {
    color: greenyellow;
}

.font_for_max textarea {
    font-family: Pangolin;
    padding-top: 20;
}

.completion_mark link {
    color: chartreuse !important;
}

.uncompletion_mark link {
    color: crimson !important;
}