<html>
<head>
    {% if title %}
    <title>{{ title }} - microblog</title>
    {% else %}
    <title>microblog</title>
    {% endif %}
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles/table.css')}}">
</head>
<body>

<a class="back__btn" href="{{ url_for('index') }}">
    <img src="static/images/back.png">
</a>

<div class="activity__content">
<div colspan="6">
    <h1 class="title">Spectacular activity table</h1>
</div>
<table class="table">
    <thead>
         <tr>
            <td><h2>Дата. Задание на день</h2></td>
            <td><h2>Запланированные таски</h2></td>
            <td><h2>Было сделано</h2></td>
            <td><h2>Итог дня. Замечания</h2></td>
            <td><h2>Вывод</h2></td>
            <td><h2>Комментарии</h2></td>
        </tr>
    </thead>
     <tbody>
    {% for day in days %}
    <tr>
        <td><p class="table_content">{{day.timestamp.day}} of {{day.month_str}} <br><br> {{day.task}}<br><br>
            <a href="{{ url_for('day_edit', the_day = day.id) }}" class="table_content">Edit day</a></p></td>
        <td><p>{%for activity in day.activities%}
            <div class="table_smaller_content"><a href="{{url_for('edit_activity' , the_activity = activity.id)}}" >{{activity.name}}
                ({{activity.planned_progress}}) {{activity.prehours}}:{{activity.preminutes}}</a>
                <br>
                {%endfor%}
                <br>
            </p> <a href="{{url_for('edit_activities', activity_day = day.id) }}">Edit/add new </a></td>
            </div></td>
        <td><p>{%for activity in day.activities%}
            <div> <span>{{activity.completion}}</span> <a class="right" href="{{url_for('approve_activity', the_activity = activity.id) }}">{{activity.name}} ({{activity.made_progress}}) {{activity.hours}}:{{activity.minutes}}<br></a>
            </div>
            {%endfor%} </p>

        <td><p>
            <div>Всего за день: {{day.total_hours}}:{{day.total_minutes}}</div>
            <br>
            <div>{{day.overall}}</div>
            <br>
            <div><a href="{{url_for('edit_overall', activity_day = day.id) }}">Edit/add summary </a></div>


            </p></td>
        <td><p>{{day.conclusion}}</p>
            <br>
            <div><a href="{{url_for('edit_conclusion', activity_day = day.id) }}">Edit/add conclusion </a></div>
            <br>
        </td>
        <td><p>{%for comment in day.comments%}
            <div>{{comment.comment_author.username}}: {{comment.body}}</div>
            <br>
            {%endfor%}</p>
            <div><a href="{{url_for('comments', activity_day = day.id) }}">Commentary section </a></div>
        </td>
    </tr>
    {% endfor %}
    </tbody>
</table>
<a class="btn" href="{{ url_for('new_day') }}">Create new day</a>
<h2>Всего: {{total_time.hours}}:{{total_time.minutes}}</h2>
</div>
</body>
</html>