<html>
<head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/table.css')}}">
 </head>
     <body>
    <h1>Hey</h1>
    <h1><a href="{{ url_for('index') }}">Back</a></h1>

<table>
    <thead>
    <tr>
        <th colspan="6">
            <h1 class="spectacular">Spectacular activity table</h1>
        </th>
    </tr>
    <tr class="borders">
        <th><h2>Дата</h2></th>
        <th><h2>Планировалось на день</h2></th>
        <th><h2>Было сделано</h2></th>
        <th><h2>Итог дня. Замечания.</h2></th>
        <th><h2>Вывод</h2></th>
        <th><h2>Комментарии</h2></th>
    </tr>
    </tr>
    {% for day in days %}
    <tr>
        <td><p>{%for %}</p></td>
        <td><p>{{ post.body}}</p></td>
        <td><p>{{ post.timestamp}}</p></td>
        <td><p>3:21</p></td>
        <td><p>Не надо</p></td>
        <td><p>На линуксе играть можно, но только фиксированное кол-во времени,
например по выходным,</p></td>
    </tr>
    {% endfor %}
    </thead>
</table>
</body>
</html>