<html>
<head>
        {% if title %}
        <title>{{ title }} - microblog</title>
        {% else %}
        <title>microblog</title>
        {% endif %}
    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='styles/table.css')}}">
 </head>
     <body>
    <h1><a href="{{ url_for('index') }}">Back</a></h1>

<table>
    <thead>
    <tr>
        <th colspan="6">
            <h1 class="spectacular">Spectacular activity table</h1>
        </th>
    </tr>
    <tr class="borders">
        <th><h2>Дата. Задание на день</h2></th>
        <th><h2>Запланированные таски</h2></th>
        <th><h2>Было сделано</h2></th>
        <th><h2>Итог дня. Замечания</h2></th>
        <th><h2>Вывод</h2></th>
        <th><h2>Комментарии</h2></th>
    </tr>
    </tr>
    {% for day in days %}
    <tr>
        <td><p>{{day.timestamp.day}} of {{day.month_str}} <br> {{day.task}}<br>
        <a class = "right" href="{{ url_for('day_edit', the_day = day.id) }}">Edit day</a></p></td>
        <td><p>{%for activity in day.activities%}
            <div> <a href = "{{url_for('edit_activity' , the_activity = activity.id)}}" class = "activity_link">{{activity.name}} ({{activity.planned_progress}}) {{activity.prehours}} hrs {{activity.preminutes}} m </a>
        <br>
        {%endfor%}</p> <a class = "right" href="{{url_for('edit_activities', activity_day = day.id) }}">Edit/add new </a></td></div></td>
        <td><p>{%for activity in day.activities%}
       <div>{{activity.name}} {{activity.made_progress}} {{activity.hours}}:{{activity.minutes}}
            <a class = "right" href="{{url_for('approve_activity', the_activity = activity.id) }}">✓</a><br>
        </div>
            {%endfor%} </p>

        <td><p>
            <div>Всего за день: {{day.total_hours}} hrs {{day.total_minutes}} m</div>
        <br>
            <div>{{day.overall}}</div>
            </p></td>
        <td><p>{{day.conclusion}}</p></td>
        <td><p>{%for comment in day.comments%}
        <div>{{comment.comment_author.username}}:{{comment.body}}</div>
            {%endfor%}</p></td>
    </tr>
    {% endfor %}
    </thead>
</table>
     <br> <a href="{{ url_for('new_day') }}">Create new day</a>
     <h2>Total: {{total_time.hours}} hr {{total_time.minutes}} m</h2>
</body>
</html>