{% extends "base.html" %}

{% block content %}
    <h1>Approving {{activity.name}}</h1>
<h2>Planned:</h2>
<br>
<p>Tracking progress: {{activity.name}} {{activity.planned_progress}} {{activity.prehours}} hrs {{activity.preminutes}} m </p>
<hr>
<form action="" method="post" id="textform" >
        <div class="text_input">
            {{ form.progress.label }}<br>{{ form.progress }}
            {{ form.hours.label }}{{ form.hours }}<br><br>
            {{ form.minutes.label }}<br>{{ form.minutes }}
            <p>{{ form.done() }} {{ form.done.label }}</p>
            </div>

<br>
            <div class="input submit">
                <input type="submit" value="Approve activity" />
            </div>
</form>
{% endblock %}