{% extends "base.html" %}

{% block content %}

   <h1>Ultra time calculator</h1>
{% if a == True  %}
<p> Today is {{today}}. For now, you have coded for {{hours}} hours and {{minutes}} minutes</p>
<p><a href="{{ url_for('delete_activities') }}"> <em>Click to delete all activities</em></a></p>
<h2>Add new activity:</h2>
<form action="" method="post">
        <p>
            {{ form.hoursf.label}}<br>
            {{ form.hoursf(size=32) }} <br>

        </p>
        <p>
            {{ form.minutesf.label}}<br>
            {{ form.minutesf(size=32) }} <br>

        </p>
         <div class="input submit">
                <input type="submit" value="Submit" />
            </div>
    </form>
{%endif%}

{% endblock %}
