{% extends "base.html" %}

{% block content %}
<h1>Comments:</h1>

<p>{%for comment in day.comments%}
        <div>{{comment.comment_author.username}}: {{comment.body}}</div>

<br>
</p>
<hr>
            {%endfor%}
<br>

  <form action="" method="post" id="textform" >
        <div>
                <h2>New comment:</h2>
            <br>
            <span class="new-activity__summary font_for_max" >{{ form.post_text (cols="35", rows="20") }}</span>
            </div>

            <div class="input submit">
                <input type="submit" value="Submit"  class="btn"/>
            </div>

        </form>


{% endblock %}