{% extends "base.html" %}

{% block content %}
<h2>Summary edit form</h2>

  <form action="" method="post" id="textform" >
        <div class="input text">
                {{ form.post_text.label }}
            <br>
            <span class="new-activity__summary font_for_max" > {{ form.post_text (cols="35", rows="20") }}</span>
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" class="btn" />
            </div>

        </form>


{% endblock %}