{% extends "base.html" %}

{% block content %}
<h2 class="title">New day creation form</h2>

<form action="" method="post" id="textform">
    <div class="text_input new-day__content">
        <div class="new-day__line">{{ form.day.label }}{{ form.day }}</div>
        <div class="new-day__line">{{ form.month.label }}{{ form.month }}</div>
        {{ form.task.label }}<br>{{ form.task }}
    </div>
    <div class="input submit">
        <input type="submit" class="btn" value="Proceed to the activities"/>
    </div>
</form>
{%for day in days%}
<p>{{day.timestamp}}</p>
{%endfor%}
{% endblock %}