{% extends "base.html" %}

{% block content %}
    <h1>Post</h1>
    <form action="" method="post" id="textform" >
        <div class="input text">
                {{ form.post_text.label }}
            <br>
            {{ form.post_text (cols="35", rows="20") }}
            </div>

            <div class="input submit">
                <input type="submit" value="Submit" />
            </div>

        </form>



        {% for post in posts %}
    <div><p>{{ post.author.username }} says: <b>{{ post.body }}</b></p></div>
    {% endfor %}
{br}
{% for comment in comments %}
    <div><p>{{ comment.comment_author.username }} says: <b>{{ comment.body }}</b> this is according {{comment.comment_date.timestamp}}</p></div>
    {% endfor %}

<p><a href="{{ url_for('delete') }}"> <em>Click to delete all posts</em></a></p>
{% endblock %}