{% extends "base.html" %}

{% block content %}
<h1>Editing {{day.timestamp.day}} of {{day.month_str}}. Planned activities</h1>
{% for activity in activities %}
<p>{{activity.name}}:  {{activity.planned_progress}} {{activity.prehours}} hrs {{activity.preminutes}} m
    <a href = "{{url_for('edit_activity' , the_activity = activity.id)}}">Edit activity</a></p>
<a href = "{{url_for('activity_delete' , the_activity = activity.id)}}">Delete activity</a>
<hr>

{%endfor%}
<br>

<h2>Create new activity:</h2>

<div class="dropdown">
  <button class="dropbtn">Recent</button>
  <div class="dropdown-content">
    {% for recent_activity in recent_activities %}
     <div><a href="{{url_for('edit_prepared_activity', activity_day = day.id, prepared_activity = recent_activity.id) }}"> {{recent_activity.name}}</a></div>
      {% endfor %}
  </div>
    <br><br>
</div>
<form action="" method="post" id="textform" >
         <div class="text_input new-day__content">
            <div class="new-activity__name">{{ form.name.label }}{{ form.name }}</div>
             <div class="new-day__line">  {{ form.hours.label }}{{ form.hours }}</div>
            <div class="new-day__line">  {{ form.minutes.label }}{{ form.minutes }}</div>
            <div class="new-activity__name">{{ form.progress.label }}{{ form.progress }}</div>
            </div>
<br>
            <div class="input submit">
                <input type="submit" class="btn" value="Create an activity" />
            </div>
{% endblock %}